@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

html {
	background-color: cornsilk;
	font-family: "Orbitron", sans-serif;
}

header {
	text-align: center;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
}

#choice {
	display: flex;
	top: 250px;
	left: 5vw;
	width: 250px;
	height: 375px;
	text-align: center;
	align-items: center;
	flex-direction: column;
	border-radius: 7px;
	position: absolute;
	border: 2px solid black;
}

.shadowBox {
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1334px) {
	#choice {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: auto;
		left: auto;
		flex-direction: row;
		height: 150px !important;
		width: 800px !important;
	}

	#floatingCircles {
		display: none !important;
	}

	h1 {
		margin-left: 10px;
	}
}

@media screen and (max-width: 1500px) and (min-width: 1335px) {

	#choice {
		left: 2vw;
		width: 200px;
		height: auto;
		padding: 5px;
	}

	#selectRed,
	#selectYellow {
		margin-bottom: 10px;
	}

	#choosePieces {
		flex-direction: column !important;
		margin: 0 auto;
		width: 100px !important;
	}

	h1 {
		margin-left: 10px;
	}
}

@media screen and (max-width: 1335px) {
	#githubicon {
		top: 120px !important;
		left: 1vw;
	}

	#homeIcon {
		left: 1vw !important;
	}
}


#instructions {
	font-size: 1.6rem;
	margin-bottom: 0;
}

#intSubText {
	font-size: 1rem;
	margin-bottom: 20px;
}

#choosePieces {
	display: flex;
	flex-direction: row;
	width: inherit;
	justify-content: space-evenly;
}

#selectRed {
	transition: 1s;
	border-radius: 60px;
	background-color: red;
	width: 98px !important;
	height: 98px !important;
	border: 2px solid darkgray;
}

#selectYellow {
	transition: 1s;
	border-radius: 60px;
	background-color: yellow;
	width: 98px !important;
	height: 98px !important;
	border: 2px solid darkgray;
}

.pointerCursor:hover {
	cursor: pointer;

}

#alertshader {
	z-index: 1;
	display: none;
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

#alert {
	text-align: center;
	border-radius: 5px;
	box-shadow: inset 0px 0px 0px 4px black;
	margin-left: 40vw;
	margin-top: 10vh;
	background-color: azure;
	width: 350px;
	height: 15vh;
}

#alertmessage {
	vertical-align: middle;
	font-family: "Orbitron", sans-serif;
	font-size: xx-large;
	line-height: 15vh;
}

#githubicon {
	position: absolute;
	top: 40px;
	right: 10vw;
	width: 70px;
	height: 70px;
	transition: 1.5s;
	z-index: 0;
	background-color: transparent;
	border-radius: 30px;
}

#githubicon:hover {
	transform: translateY(-5px);
	background-color: azure;
}

#homeIcon {
	position: absolute;
	top: 40px;
	left: 5vw;
	width: 70px;
	height: 70px;
	transition: 1.5s;
	z-index: 0;
	background-color: transparent;
}

#homeIcon:hover {
	transform: translateY(-5px);
}

#githubicon:hover {
	transform: translateY(-5px);
	background-color: azure;
}

h1 {
	font-size: 2.5rem;
}

#uiblocker {
	background-color: transparent;
	z-index: 1;
	display: none;
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#gameboard {
	margin: 0 auto;
	position: relative;
	width: 840px;
	height: 720px;
}

.squareDiv {
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: royalblue;
	border: 1px solid darkblue;
	width: 120px;
	height: 120px;
	padding: 10px;
}

#floatingCircles {
	padding-top: 17px;
	margin: 0 auto;
	display: flex;
	width: 840px;
	height: 120px;
}

.circleDiv {
	border-radius: 60px;
	background-color: cornsilk;
	width: 98px !important;
	height: 98px !important;
}

.floatingCircle {
	background-color: transparent;
	border-radius: 90px;
	width: 100px !important;
	height: 100px !important;
	margin-right: 10px;
	margin-left: 10px;
}

@keyframes gbounce {
	0% {
		transform: translateY(15px);
	}

	50% {
		transform: translateY(-20px);
	}

	100% {
		transform: translateY(15px);
	}
}

.gbounce {
	animation: gbounce 2.5s;
	animation-iteration-count: infinite;
}

.redPlaced {
	background-color: red;
}

.redBounce {
	background-color: red;
	border: 2px solid darkgray;
}

.redHighlight {
	animation: highLightFadeRed 2.5s;
	animation-iteration-count: infinite;
}

.yellowPlaced {
	background-color: yellow;
}

.yellowBounce {
	background-color: yellow;
	border: 2px solid darkgray;
}

.yellowHighLight {
	animation: highLightFadeYellow 2.5s;
	animation-iteration-count: infinite;
}

@keyframes highLightFadeYellow {
	0% {
		background-color: yellow;
	}

	50% {
		background-color: #FFFF99;
	}

	100% {
		background-color: yellow;
	}
}

@keyframes highLightFadeRed {
	0% {
		background-color: red;
	}

	50% {
		background-color: #FF6666;
	}

	100% {
		background-color: red;
	}
}

footer {
	text-align: center;
}

#updateText {
	font-size: medium;
}

#strtOvrBtn {
	display: inline-block;
	width: fit-content;
	font-size: 1.5em;
	padding: 5px;
	border: solid black;
	border-radius: 7px;
	font-family: "Orbitron", sans-serif;
	margin-bottom: 10px;
}

#strtOvrBtn:hover {
	background-color: lightgray;
	cursor: pointer;
}