@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

html {
	background-color: cornsilk;
	font-family: "Orbitron", sans-serif;
}

header {
	text-align: center;
	margin-bottom: 40px;
}

h1 {
	font-size: 2.5rem;
}

#uiblocker {
	background-color: transparent;
	z-index: 1;
	display: none;
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#gameboard {
	margin: 0 auto;
	padding: 5px;
	position: relative;
	width: 840px;
	height: 720px;
}

.squareDiv {
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: royalblue;
	border: 1px solid darkblue;
	width: 120px;
	height: 120px;
	padding: 10px;
}

#floatingCircles {
	margin: 0 auto;
	display: flex;
	width: 840px;
	height: 120px;
}

.circleDiv {
	border-radius: 60px;
	background-color: cornsilk;
	width: 98px !important;
	height: 98px !important;
}

.floatingCircle {
	background-color: transparent;
	border-radius: 90px;
	width: 100px !important;
	height: 100px !important;
	margin-right: 10px;
	margin-left: 10px;
}

@keyframes gbounce {
	0% {
		transform: translateY(10px);
	}

	50% {
		transform: translateY(-35px);
	}

	100% {
		transform: translateY(10px);
	}
}

.gbounce {
	animation: gbounce 2.8s;
	animation-iteration-count: infinite;
}

.redPlaced {
	background-color: red !important;
}

.redBounce {
	background-color: red !important;
	border: 2px solid darkgray;
}

.redHighlight {
	background-color: #FF6666 !important;
}

.yellowPlaced {
	background-color: yellow !important;
}

.yellowBounce {
	background-color: yellow !important;
	border: 2px solid darkgray;
}

.yellowHighLight {
	background-color: #FFFF99 !important;

}